/* ALTERAR PARA TODOS OS ELEMENTOS */
html * {
    /* RESETAR A MARGEM */
    margin: 0px;
    /* LARGURA MÁXIMA DOS ELEMENTOS */
    max-width: 100%;
}

body {
    /* COR DE FUNDO */
    background-color:rgba(0, 0, 0, 0.925);
}

#logotipo {
    /* LARGURA DO LOGOTIPO */
    width: 300px;
    /* MARGEM DO LOGOTIPO */
    margin: 20px;
}

    /* MENU DE NAVEGAÇÃO */
#menu {
    background-color: #593806;
    margin-bottom: 10px;
    border-top: 10px solid #3f2702;
    border-bottom: 10px solid #3f2702;
    padding: 10px;
  
     /* POSICIONAMENTO HORIZONTAL CENTRALIZADO */
    text-align-last: center;
     /* POSICIONAMENTO HORIZONTAL CENTRALIZADO */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/* ALTERA SOMENTE O TEXTO DO MENU */
#menu a {
    COLOR: WHITE;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Righteous', cursive;
}

#menu a:hover {
    color: black;
    background-color: #803d06;
}



.principal {
    /* ATIVAR O MODO GRID (LINHAS E COLUNAS) */
    display: grid;

    /* ELEMENTOS DENTRO DA CLASSE PRINCIPAL NO FORMATO DE 3 COLUNAS */
    grid-template-columns: repeat(3, 1fr);

    /* ESPAÇAMENTO ENTRE COLUNAS E LINHAS DO GRID */
    gap: 20px;
}
/* ALTERAR ITENS DAS IMAGENS */
.item {
    background-color: #cfa76e;
    font-family: sans-serif;
    text-transform: uppercase;
    margin: 20px;
    color: #593806;
    border-top: 5px solid #593806;
    text-align: center;
    border-radius: 2%;
}

/* ALTERAR FOOT */
#foot {
    text-align-last: center;
    color: WHITE;
    background-color: #593806;
    /* Alinhar na horizontal */
    justify-content: center;
      /* Alinhar na vertical */
    align-content: center;
      /* habilitar linhas e colunas */
    display:grid;

}

